# Numbers and More in Python

1) the major types of numbers we shall be using are 
* Integers : whole numbers positive or negative e.g 2 or -2
* Floatin point numbers: there have decimal e.g 2.2, 2.0

In [1]:
# addition
2+1

3

In [2]:
# subtraction
3-2

1

In [3]:
#multiplication
3*3

9

In [6]:
#  true division
3/2

1.5

In [8]:
# integer division in python 3
3//2 #just picking the integer part

1

In [9]:
# magic line for python 2
# from __future__import division

In [11]:
2**3 # powers

8

In [12]:
#square root
4**0.5

2.0

In [13]:
144**.5

12.0

In [15]:
# python respects order of operation but we could 
#still arrnge it with brackets

In [16]:
2+12*10

122

In [17]:
2+(12*10)

122

# Assignment operations

In [19]:
a = 12

Some basic rule to note when creating these objects or variables

1. Names can not start with a number

2. No spaces inthe name use _ instead e.g sur_name

3. can't use special characters e.g <>/@# *+=

In [20]:
a + 2

14

In [25]:
a = 5

In [26]:
a

5

In [27]:
a = a+a
a

10

In [28]:
#example

my_income = 100
tax_rate = 0.1

In [29]:
my_taxes = my_income*tax_rate

In [30]:
my_taxes

10.0