# For Loop statement

* A **For** loop acts as an iterator in python, It goes through items that are in a sequence or any other iterable item.

* syntax

for item in object:
    
    statements to do stuff
* e.g

for i in range(12):
    
    print(i)

In [1]:
l = [1,2,3,4]

In [2]:
l

[1, 2, 3, 4]

In [4]:
for i in l:
    print(i)

1
2
3
4

In [5]:
for i in l:
    print('Welcome Tony!')

Welcome Tony!
Welcome Tony!
Welcome Tony!
Welcome Tony!

In [9]:
# Checking for even number

# MODULO gives the remainder
10 % 3

1

In [10]:
10 % 2

0

combining loop and if statement

In [8]:
for i in range(10):
    if i%2!=0:
        print(i, end='\t')

1	3	5	7	9

In [12]:
# for even numbers
for i in range(10):
    if i % 2 ==0:
        print(i, end='\t')

0	2	4	6	8

In [13]:
# checking for an even or odd in a list
list2 = [1,2,4,5,75,6,7,43,57]

for i in list2:
    if i % 2 ==0:
        print(i, ' is even')
    else:
        print(i, ' is odd')

1  is odd
2  is even
4  is even
5  is odd
75  is odd
6  is even
7  is odd
43  is odd
57  is odd

In [15]:
l_sum = 0

for i in range(10):
    l_sum = l_sum+i
print(l_sum)

45

In [19]:
# or we could use
l_sum = 0

for i in range(10):
    l_sum +=i
print('sum from 1-10 is:',l_sum)

sum from 1-10 is: 45

# for loop and tuples

In [20]:
tup = (1,2,3,4,5)

for t in tup:
    print(t)

1
2
3
4
5

In [22]:
l_tup = [(1,2), (3,6), (5,8),(8,12)]

l_tup[1][0]

3

In [23]:
# tuple unpacking

In [24]:
for tup in l_tup:
    print(tup)

(1, 2)
(3, 6)
(5, 8)
(8, 12)

In [26]:
for (t1, t2) in l_tup:
    print(t1, ' and ',t2)

1  and  2
3  and  6
5  and  8
8  and  12

In [27]:
#we can also perform operations on then
for (t1,t2) in l_tup:
    print(t1-t2)

-1
-3
-3
-4

In [2]:
# loop and dictionary

d = {'k1':1, 'k2': 2, 'k3':4, 'k4': 34}
d

{'k1': 1, 'k2': 2, 'k3': 4, 'k4': 34}

In [3]:
for key in d:
    print('key')

key
key
key
key

# Iterating through 
for python 2 we use .iteritems() while for 3 we use
.items
* This basically creates a generator, that will generate the keys and values of your dictionary.

In [4]:
d.items()

dict_items([('k1', 1), ('k2', 2), ('k3', 4), ('k4', 34)])

In [5]:
6+8+6+5+10+8+8

51

In [6]:
51/70 * 5

3.642857142857143

In [7]:
for k, v in d.items():
    print(k, v)

k1 1
k2 2
k3 4
k4 34

In [8]:
d

{'k1': 1, 'k2': 2, 'k3': 4, 'k4': 34}

In [9]:
d.items()

dict_items([('k1', 1), ('k2', 2), ('k3', 4), ('k4', 34)])

In [10]:
for k, v in d.items():
    print(k,v)

k1 1
k2 2
k3 4
k4 34